body {background-color:whitesmoke);}
h1{color:gray;font-size: 300%;}
h2{font-size: 25px;font-weight:normal;}
h3{font-size: 15px;font-weight:normal;}
.tab {
    display: inline-block;
    margin-left: 65px;
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #030600;
    padding: 20px; 
    width: 600px;
    height: 500px;  
  }
